{% extends 'viewer/base.html' %}
{% block content %}
<div class="container">
    <section class="mw-viewer-section">
        <div class="row mw-viewer-text-center">
            <h1 class="mw-viewer-header">Individuals</h1>
        </div>
    </section>
    <section class="mw-viewer-section">
        <div class="row">
            <a href="/mw_viewer/viewer/individuals/submit/">
                <button class="btn btn-primary btn-sm" style="margin-bottom:15px">
                    <span class="fa fa-plus"></span>&nbsp;&nbsp;Add Individual/Sample
                </button>
            </a>
        </div>
        <div class="row">
            <div class="row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-xs-2">Individual ID</th>
                        <th class="col-xs-4">Gender</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ind in individual %}
                    <tr>
                        <td>{{ ind.individual_id }}</td>
                        <td>{{ ind.gender }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
{% endblock %}