{% extends 'viewer/base.html' %}
{% block content %}
<div class="container">
    <section class="mw-viewer-section">
        <div class="row mw-viewer-text-center">
            <h1 class="mw-viewer-header">Samples</h1>
        </div>
    </section>
    <section class="mw-viewer-section">
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-xs-2">Sample ID</th>
                    <th class="col-xs-2">Date Obtained</th>
                    <th class="col-xs-2">Tissue</th>
                    <th class="col-xs-2">Individual</th>
                </tr>
                </thead>
                <tbody>
                {% for samp in sample %}
                <tr>
                    <td>{{ samp.sample_id }}</td>
                    <td>{{ samp.date_obtained }}</td>
                    <td>{{ samp.tissue }}</td>
                    <td>{{ samp.individual }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}