{% extends 'viewer/base.html' %}
{% block content %}
<div class="container">
    <section class="mw-viewer-section">
        <div class="row mw-viewer-text-center">
            <h1 class="mw-viewer-header">Select a Task</h1>
        </div>
    </section>
    <section class="mw-viewer-section">
        <div class="row">
            <div class ="col-md-4">
            <a href="/mw_viewer/viewer/individuals/">
                <button class="mw-viewer-button btn btn-primary">
                    <span class="fa fa-user"></span>&nbsp;&nbsp;View Current Individuals
                </button>
            </a>
            </div>
            <div class ="col-md-4">
            <a href="/mw_viewer/viewer/samples/">
                <button class="mw-viewer-button btn btn-primary">
                    <span class="fa fa-heart"></span>&nbsp;&nbsp;View Samples
                </button>
            </a>
            </div>
            <div class ="col-md-4">
            <a href="/mw_viewer/viewer/experiments/">
                <button class="mw-viewer-button btn btn-primary">
                    <span class="fa fa-flask"></span>&nbsp;&nbsp;View Experiments
                </button>
            </a>
            </div>
        </div>
    </section>
</div>
{% endblock %}