{% extends 'viewer/base.html' %}
{% block content %}
<div class="container">
    <section class="mw-viewer-section">
        <div class="row seq-text-center">
            <h1 class="mw-viewer-header">Project Management</h1>
        </div>
    </section>
    <section class="mw-viewer-section">
        <div class="row">
            <a href="/viewer/individuals/view/">
                <button class="btn btn-primary btn-sm" style="margin-bottom:15px">
                    <span class="fa fa-plus"></span>&nbsp;&nbsp;View Current Individuals
                </button>
            </a>
        </div>